{:deps {org.clojure/clojure                         {:mvn/version "1.11.1" :scope "provided"}
        io.replikativ/datahike                      {:mvn/version "0.6.1539" :scope "provided"}
        io.replikativ/konserve-s3                   {:mvn/version "0.1.8"}}
 :paths ["src"]
 :aliases {:test   {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.60.977"}}
                    :extra-paths ["test"]}
           :jar    {:extra-deps {seancorfield/depstar {:mvn/version "1.1.116"}}
                    :main-opts ["-m" "hf.depstar.jar" "replikativ-datahike-s3.jar"]}
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
                    :main-opts ["-m" "cljfmt.main" "check"]}
           :ffix   {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                    :main-opts ["-m" "cljfmt.main" "fix"]}
           :build  {:deps {io.github.clojure/tools.build          {:mvn/version "0.9.3"}
                           slipset/deps-deploy                    {:mvn/version "0.2.0"}
                           io.github.borkdude/gh-release-artifact {:git/sha "05f8d8659e6805d513c59447ff41dc8497878462"}
                           babashka/babashka.curl                 {:mvn/version "0.1.2"}
                           babashka/fs                            {:mvn/version "0.1.6"}
                           cheshire/cheshire                      {:mvn/version "5.10.2"}}
                    :ns-default build}}}
